@import url("main.css") only screen and (min-width:200px) and (max-width:480px);

@media (min-width: 1200px) {
    body{
        background-color: blanchedalmond;
    }
    #title{
        color: rgb(119, 56, 10);
        text-align: center;
        padding: 15px;
        font-size: 50px;
    }
    #nav{
        list-style: none;
        height: 40px;
        padding: 6px;
        margin: 0;
        background-color: blanchedalmond;
        border-bottom: 2px solid black;
    }
    #nav li{
        float: left;
        position: relative;
        margin: 0 30px;
        padding: 0;
    }
    #nav li a{
        display: block;
        font-family: 돋음;
        font-size: 27px;
        margin: 0;
        padding: 0 13px;
        color: black;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    #nav li:hover > a{
        background-color: blanchedalmond;
        color: rgb(199, 188, 173);
        font-weight: bold;
        margin: 0;
        padding: 0 13px;
    }
    #nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 46px;
        width: 110px;
        background: white;
        text-align: center;
        opacity: 0;
        border: 2px solid black;
    }
    #nav li:hover ul{
        opacity: 1;
    }
    #nav li:hover ul li{
        height: 35px;
        overflow: visible;
        padding: 0;
    }
    #nav ul li{
        float: none;
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    #nav ul a{
        font-weight: normal;
        font-size: 18px;
        color: black;
    }
    #nav ul li:hover > a{
        background: white;
        font-weight: bold;
    }
    #nav a.active{
        color: rgb(177, 140, 93);
    }
    p#소개{
        margin-top: 150px;
        font-size: 23px;
        text-align: center;
    }
    img#pictures{
        object-fit: cover;
        width: 1000px;
        display: block;
        margin: 0px auto;
        padding: 20px;
    }
    div#famousRestaurant{
        margin-left: 10px;
        margin-right: 10px;
    }
    img#famousRestaurant{
        object-fit: cover;
        width: 300px;
    }
    #hide{
        display: none;
    }
}
@media (max-width: 767px){
    #nav{
        list-style: none;
        height: 35px;
        padding: 0 1px;
        margin: 0;
        background: white;
        border-bottom: 2px solid black;
    }
    #nav li{
        float: left;
        position: relative;
        margin: 1px 5px;
        padding: 0;
    }
    #nav li a{
        display: block;
        font-family: 돋음;
        font-size: 18px;
        padding: 0 13px;
        margin: 0;
        color: black;
        margin: 0;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    #nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 40px;
        width: 105px;
        background: white;
        text-align: center;
        opacity: 0;
        border: 2px solid black;
    }
    #nav li:hover ul{
        display: none;
    }
    #nav ul li{
        float: none;
        margin: 0;
        padding: 0;
        font-size: 10px;
    }
    #nav ul a{
        font-weight: normal;
        color: black;
    }
    #nav a.active{
        color: red;
    }
}